<footer class="post-footer">

    Connect through
    {% if site.email %}
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>,
    {% endif %}

    {% if site.facebook %}
        <a href="https://www.facebook.com/{{ site.facebook_username }}">@{{ site.facebook_username }}</a> on Facebook,
    {% endif %}

    {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">@{{ site.github_username }}</a> on Github,
    {% endif %}

    {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> on Twitter,
    {% endif %}

    {% if site.mailing_list %}
        <a href="{{ site.mailing_list }}">via mailing list</a>,
    {% endif %}

    or track via <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>.
</footer>
